:root {
  font-family: "Source Code Pro", monospace;
  color: beige;
  --bg-color: #191919;
  background-color: var(--bg-color);
}

#dotfiles-link {
  text-decoration: none;
  color: cornflowerblue;
  transition: all 0.3 ease-in-out;
}

.about-me-text {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
}
