:root {
  font-family: "Source Code Pro", monospace;
  color: beige;
  --bg-color: #191919;
  --type_writer-speed: 3s;
  background-color: var(--bg-color);
}

body {
  display: grid;
}

body main h1,
body main p {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
}

body main h1 {
  top: 30%;
}

/* main classes and ids */

body main h1::before,
body main h1::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

body main h1::before {
  background-color: var(--bg-color);
  animation: type_writer var(--type_writer-speed) steps(13) 1s forwards;
}

body main h1::after {
  width: 0.125em;
  background: rgb(230, 230, 185);
  animation: type_writer var(--type_writer-speed) steps(13) 1s forwards,
    blink 625ms steps(20) infinite;
}

#redirect-icons {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 150px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, 50%);
  opacity: 0;
  animation: fade-in-up 2s ease calc(var(--type_writer-speed) + 0.75s) forwards;
}

#redirect-icons img {
  filter: invert(85%);
}

#github-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
  transition: all 0.3s ease-in-out;
}

#github-icon:hover {
  filter: brightness(150%);
}

#insta-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
  transition: all 0.3s ease-in-out;
}

#insta-icon:hover {
  filter: brightness(150%);
}

#twitter-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
  transition: all 0.3s ease-in-out;
}

#twitter-icon:hover {
  filter: brightness(150%);
}

#about-me {
  font-size: clamp(1rem, 5vw, 1.9rem);
  color: beige;
  top: 60%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: fade-in-up 2s ease calc(var(--type_writer-speed) + 0.75s) forwards;
}

#about-me:hover {
  color: cornflowerblue;
}

/* keyframes */

@keyframes type_writer {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fade-in-up {
  to {
    opacity: 1;
  }
}
