body {
  font-family: "Courier New", Courier, monospace;
  background-color: #191919;
  color: beige;
}

#dotfiles-link {
  text-decoration: none;
  color: cornflowerblue;
  transition: all 0.3 ease-in-out;
}

.about-me-text {
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
}
