body {
  font-family: "Courier New", Courier, monospace;
  background-color: #191919;
  color: beige;
}

#dotfiles-link {
  text-decoration: none;
  color: cornflowerblue;
}

.about-me-text {
  position: absolute;
  top: 10%;
  left: 1%;
  right: 1%;
  /* text-align: center; */
}
