body {
  font-family: "Courier New", Courier, monospace;
  background-color: #191919;
  color: beige;
}

body main p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main classes and ids */

#handle-gaspa {
  font-size: 30px;
  top: 30%;
}

#main-gaspa {
  font-size: 50px;
  top: 35%;
}

#redirect-icons {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 150px;
  filter: invert(90%);
  position: absolute;
  left: 50%;
  top: 42.5%;
  transform: translate(-50%, 50%);
}

#github-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
}

#insta-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
}

#twitter-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
}

#about-me {
  font-size: 25px;
  color: beige;
  top: 57.5%;
}
