body {
  font-family: "Courier New", Courier, monospace;
  background-color: #191919;
  color: beige;
}

body main p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* main classes and ids */

#handle-gaspa {
  font-size: 30px;
  top: 30%;
}

#main-gaspa {
  font-size: 50px;
  top: 35%;
}

#redirect-icons {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 150px;
  filter: invert(90%);
  position: absolute;
  left: 50%;
  top: 42.5%;
  transform: translate(-50%, 50%);
}

#github-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
}

#insta-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
}

#twitter-icon {
  width: 100%;
  height: 100%;
  margin: 5%;
}

#about-me {
  font-size: 25px;
  color: beige;
  top: 57.5%;
}

/* header classes and ids */

#template-header {
  font-size: 10px;
  color: beige;
  text-decoration: none;
  position: absolute;
  left: 1%;
}

#template-header:hover {
  color: white;
  transition: all 0.3s ease;
}

/* footer classes and ids */

.template-footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 92.5%;
  transform: translate(-50%, -50%);
}

#footer-box-1 {
  width: 100%;
  height: 100%;
  text-align: center;
}

#footer-box-2 {
  width: 100%;
  height: 100%;
  text-align: center;
}

#source-code {
  color: beige;
  text-decoration: none;
}

#source-code:hover {
  color: cornflowerblue;
  transition: all 0.3s ease;
}
